*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 2em;
}

nav:first-child{
    display: flex;
    justify-content: center;
}

nav:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horizontal-underline{
    position: absolute;
    width:100%;
    height: 4px;
    background-color: aqua;
    border-radius: 4px;
    top:0;
    left:0;
    transition: 0.5s;
}

#vertical-underline{
    position: absolute;
    width:100%;
    height: 4px;
    background-color: rgb(169, 227, 88);
    border-radius: 4px;
    top:0;
    left:0;
    transition: 0.5s;
}